{% extends 'base.html' %}

{% block content %}
    {% for about in abouts %}
    <details>
        <summary>
            <h4>{{ about.title }}</h4>
        </summary>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <!-- Optional: Add any additional content or styling here -->
                </div>
                <div class="col-lg-8">
                    <p class="lead">{{ about.text|safe }}</p>
                </div>
            </div>
        </div>
    </details>
    {% endfor %}
{% endblock content %}
