{% extends 'base.html' %}
{% block content %}
        <div class="title-container">
        {% for about in abouts %}
        <button class="collapsible">
            <!-- Centered Title with bold font and hover effect -->
            <span>{{ about.title }}</span>
        </button>
        <div class="collapsible-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12"> <!-- Use full width to match button -->
                        <p>{{ about.text|safe }}</p> <!-- Removed class for proper alignment -->
                        <!-- Ensure images are centered and displayed fully -->
                        <img src="{{ about.image_url }}" alt="">
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock content %}
