{% extends 'base.html' %}
{% block content %}
    {% for about in abouts %}
    <details>
        <summary style="display: flex; align-items: center; justify-content: center;">
            <!-- Arrow icon -->
            <span style="margin-right: 10px; color: blue;">&#9654;</span>
            <!-- Title -->
            <a href="#" style="display: inline-block; vertical-align: middle; font-size: 32px; font-weight: bold; text-decoration: none; color: black;"
               onmouseover="this.style.color='rgb(229, 101, 78)'; this.style.textDecoration='underline';"
               onmouseout="this.style.color='black'; this.style.textDecoration='none';">
                {{ about.title }}
            </a>
        </summary>
        <div class="container">
              
            <div class="row justify-content-center">
                
                <div class="col-lg-8">
                    
                    <p class="lead">{{ about.text|safe }}</p>
                </div>
                    
            </div>
        </div>
        
    </details>
    {% endfor %}
{% endblock content %}
