{% extends 'base.html' %}

{% block content %}
    <main style="padding-bottom: 15rem; padding-top: 5rem !important;">
    <div class="container py-5">
      <div class="row g-5">
        <!-- Contact Information Block -->
        

        <!-- Contact Form Block -->
      <form action="{{'contact'}}" method="post">
          {% csrf_token %}
        <div class="col-xl-6">
          <h2 class="pb-4">Leave a message</h2>
          <div class="row g-4">
            <div class="col-6 mb-3">
              <label for="exampleFormControlInput1" class="form-label">First Name{{ contact.first_name }}</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="John">
            </div>
            <div class="col-6 mb-3">
              <label for="exampleFormControlInput1" class="form-label">Last Name {{ contact.last_name }}</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Doe">
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email {{ contact.email }}</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Phone {{ contact.phone }}</label>
            <input type="tel" class="form-control" id="exampleFormControlInput1" placeholder="+1234567890">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Country {{ contact.country }}</label>
            <select class="form-select" aria-label="Default select example">
              <option value="1">Deutschland</option>
              <option value="2">Georgia</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Message {{ contact.message }}</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <button type="button" class="btn btn-dark">Send Message</button>
        </div>
          </form>
      </div>
    </div>
  </main>
{% endblock content %}