{% extends 'base.html' %}

{% block content %}
 <section>
    <form class="form-inline">
     
   <div class="container">
         <span> <small id="passwordHelpInline"  class="text-muted shift-right" > target_molecule </small></span>
       <div class="row justify-content-center">         
        <div class="form-group">
            <label for="inputPassword6"></label> 
            <input type="password" id="inputPassword6" class="form-control-sm" aria-describedby="passwordHelpInline" placeholder="Small input">
        </div>
        </div>
   </div>
        <div class="container">
         <span> <small id="passwordHelpInline"  class="text-muted shift-right" > target_molecule </small></span>
       <div class="row justify-content-center">         
        <div class="form-group">
            <label for="inputPassword6"></label> 
            <input type="password" id="inputPassword6" class="form-control-sm" aria-describedby="passwordHelpInline" placeholder="Small input">
        </div>
        </div>
   </div>
         <div class="container">
         <span> <small id="passwordHelpInline"  class="text-muted shift-right" > target_molecule </small></span>
       <div class="row justify-content-center">         
        <div class="form-group">
            <label for="inputPassword6"></label> 
            <input type="password" id="inputPassword6" class="form-control-sm" aria-describedby="passwordHelpInline" placeholder="Small input">
        </div>
        </div>
   </div>
         <div class="container">
         <span> <small id="passwordHelpInline"  class="text-muted shift-right" > target_molecule </small></span>
       <div class="row justify-content-center">         
        <div class="form-group">
            <label for="inputPassword6"></label> 
            <input type="password" id="inputPassword6" class="form-control-sm" aria-describedby="passwordHelpInline" placeholder="Small input">
        </div>
        </div>
   </div>
    </form>
    </section>
{% endblock content %}