{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- Left column -->
        <div class="col-md-6">
            <div data-mdb-input-init class="form-outline" style="width: 22rem;">
                <label class="form-label" for="typeNumberLeft">Number input</label>
                <input step="0.01" value="15.25" type="number" id="typeNumberLeft" class="form-control" />
            </div>
            <div data-mdb-input-init class="form-outline" style="width: 22rem;">
                <label class="form-label" for="typeNumberLeft">Number input</label>
                <input step="0.01" value="15.25" type="number" id="typeNumberLeft" class="form-control" />
            </div>
              <div data-mdb-input-init class="form-outline" style="width: 22rem;">
                <label class="form-label" for="typeNumberLeft">Number input</label>
                <input step="0.01" value="15.25" type="number" id="typeNumberLeft" class="form-control" />
            </div>
              <div data-mdb-input-init class="form-outline" style="width: 22rem;">
                <label class="form-label" for="typeNumberLeft">Number input</label>
                <input step="0.01" value="15.25" type="number" id="typeNumberLeft" class="form-control" />
            </div>
              <div data-mdb-input-init class="form-outline" style="width: 22rem;">
                <label class="form-label" for="typeNumberLeft">Number input</label>
                <input step="0.01" value="15.25" type="number" id="typeNumberLeft" class="form-control" />
            </div>
        </div>
        <!-- Right column -->
        <div class="col-md-6">
            <div data-mdb-input-init class="form-outline" style="width: 22rem;">
                <label class="form-label" for="typeNumberRight">Number input</label>
                <input step="10" value="0" type="number" id="typeNumberRight" class="form-control" />
            </div>
             <div data-mdb-input-init class="form-outline" style="width: 22rem;">
                <label class="form-label" for="typeNumberRight">Number input</label>
                <input step="10" value="0" type="number" id="typeNumberRight" class="form-control" />
            </div>
             <div data-mdb-input-init class="form-outline" style="width: 22rem;">
                <label class="form-label" for="typeNumberRight">Number input</label>
                <input step="10" value="0" type="number" id="typeNumberRight" class="form-control" />
            </div>
             <div data-mdb-input-init class="form-outline" style="width: 22rem;">
                <label class="form-label" for="typeNumberRight">Number input</label>
                <input step="10" value="0" type="number" id="typeNumberRight" class="form-control" />
            </div>
             <div data-mdb-input-init class="form-outline" style="width: 22rem;">
                 <label class="form-label" for="typeNumberRight">Number input</label>
                <input step="10" value="0" type="number" id="typeNumberRight" class="form-control" />
            </div>
        </div>
    </div>
</div>

{% endblock content %}