{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section>
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-2">
                <span class="fs-6"> <strong>Mathlab is a project of</strong></span>
                <a href="">
                    <img src="{% static 'images/IVG-Reactive-Fluids.png' %}" alt="logo" height="100" width="200">
            </a>
            </div>
            <div class="col-lg-2">
                <a href="">
                <img src="{% static 'images/logo_UDE.png' %}" alt="logo_second" height="100" width="200">
              </a>      
            </div>
        </div>
    </div>
    </section>
    <section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 ">
                {% for post in posts %}
        <div class="card mb-5">
    <img class="card-img-top" src="{{ post.image.url }}" alt={{ post.title }}>
    <div class="card-body">
      <h5 class="card-title"><a href="{% url '' %}">{{ post.title }}</a></h5>
      <p class="card-text">{{ post.short_text }}</p>
        </div>
        </div>
                {% endfor %}
        </div>
        </div>
        </div>
    </section>
    
{% endblock content %}