{% extends 'base.html' %}

{% block content %}
<section style="padding-top: 3rem;"> 
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <!-- Title -->
                <h1 class="display-4 mb-3 text-center">{{ post.title }}</h1>

              
                <!-- Image -->
                <div class="text-center my-4">
                    <img class="img-fluid rounded shadow" src="{{ post.image.url }}" alt="image">
                </div>

                <!-- Short Text -->
                <p class="lead justify-content-between my-4">{{ post.short_text }}</p>
            </div>
        </div>
    </div>
</section>

<!-- Styling -->
<style>
    .img-fluid {
        max-height: 500px;
        object-fit: cover;
    }
</style>

{% endblock %}
