{% extends 'base.html' %}
{% block content %}
    

    <div class="title-container">
        {% for source  in source_object %}
        <button class="collapsible">
            <!-- Centered Title with bold font and hover effect -->
            <span>{{ source.title }}</span>
        </button>
        <div class="collapsible-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12"> <!-- Use full width to match button -->
                        <p>{{ source.text|safe }}</p> <!-- Removed class for proper alignment -->
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
{% endblock content %}
