{% extends 'base.html' %}

	<div class="page__hero--overlay" style="background-color: #C0C0C0; background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('http://liisim.com/assets/screenshots/2018-03-26_V3.0.6_SignalProcessing.png');">
				<div class="wrapper">
					<h1 class="page__title" itemprop="headline">
						LIISim Project
					</h1>

					<p class="page__lead">A modular signal processing toolbox for laser-induced incandescence (LII) measurements</p>

					<p><a href="http://liisim.com/about" class="btn btn--light-outline btn--large">Learn more</a></p>
				</div>

				<span class="page__hero-caption">Screenshot: LIISim V3.0.6 - Signal Processing </span>
			</div>

			<div id="main" role="main">
				<article class="splash" itemscope="" itemtype="http://schema.org/CreativeWork">
					<meta itemprop="description" content="A modular signal processing toolbox for laser-induced incandescence (LII) measurements" />
					<meta itemprop="datePublished" content="March 26, 2018" />

					<section class="page__content" itemprop="text">
						<p>
							<strong>Laser-induced incandescence (LII)</strong> is a non-intrusive method of measuring soot particle volume fraction and primary particle sizes in flames. Not only restricted to flames, this technique is
							recently used for characterization of <strong>car engine exhaust</strong>, <strong>atmospheric black carbon</strong> and <strong>synthetic nanoparticles</strong>. These new applications require the same basic
							signal processing, but at the same time individual databases for material (soot or non-soot) and gas compositions as well as individual heat transfer models for the determination of particle sizes.
							<strong>LIISim</strong> is a framework for basic signal processing and analysis of experimental LII data to help researches across the world to compare their experimental data.
						</p>

						<p class="notice--warning">The old LIISim.com web interface (by Max Hofmann) can be found <a href="http://web.liisim.com/" target="_blank">here</a>.</p>

						<p>
							<strong>LIISim is a project of</strong> <br />
							<a href="http://www.uni-due.de/ivg/rf" target="_blank"><img src="/assets/logos/IVG-Reactive-Fluids.png" alt="Institute for Combustion and Gas Dynamics - Reactive Fluids" style="height:100px" /></a>
							<a href="http://www.uni-due.de" target="_blank"><img src="/assets/logos/logo_UDE.png" alt="University of Duisburg-Essen" style="height:100px" /></a>
						</p>

						<p>The software is described in the following paper:</p>
						<blockquote>
							<p>
								R. Mansmann, T. Terheiden, P. Schmidt, J. Menser, T. Dreier, T. Endres and C. Schulz: "LIISim: a modular signal processing toolbox for laser-induced incandescence measurements" Appl. Phys. B <b>124</b>(4), 69
								(2018). DOI <a href="https://doi.org/10.1007/s00340-018-6934-9" target="_blank">10.1007/s00340-018-6934-9</a> <br />
								<br />
							</p>
						</blockquote>
						{% for post in post_list %}
							<div class="feature__wrapper">
							<div class="feature__item--left">
								<div class="archive__item">
									<div class="archive__item-teaser">
										<a href="http://liisim.com/assets/screenshots/2018-03-26_V3.0.6_SignalProcessing.png" class="image-popup">
											<img src="http://liisim.com/assets/screenshots/2018-03-26_V3.0.6_SignalProcessing.png"  alt="Signal Processing Editor" />
										</a>
									</div>

									<div class="archive__item-body">
										<h2 class="archive__item-title">{{post.title}}</h2>

										<div class="archive__item-excerpt">
											<p> {{post.short_text}}
												 <br/>
												<br />
												<a href="/about" class="btn btn--success">Learn more</a>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>

							<div class="feature__wrapper">
							<div class="feature__item--right">
								<div class="archive__item">
									<div class="archive__item-teaser">
										<a href="http://liisim.com/assets/screenshots/2018-03-26_V3.0.6_AToolTemperature.png" class="image-popup">
											<img src="http://liisim.com/assets/screenshots/2018-03-26_V3.0.6_AToolTemperature.png" alt="Analysis Tool: Temperature Fit" />
										</a>
									</div>

									<div class="archive__item-body">
										<h2 class="archive__item-title">{{post.title}}</h2>

										<div class="archive__item-excerpt">
											<p> {{post.short_text}}
												 <br />
												<br />
												<a href="/about" class="btn btn--success">Learn more</a>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>

						{% endfor%}


						<p><a href="/about" class="btn btn--info btn--large align-center">Get started now</a></p>
					</section>
				</article>
			</div>
