{% load static %}
<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>LIFSim: LIF tool for spectra simulation and fitting</title>
        {# <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" /> #}
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>

    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar bg-white fixed-top" id="mainNav">
            <div class="container px-4">
                <a class="navbar-brand" href="/"> <img src="{% static 'images/LIFSIMLOGO.png' %}" alt="LIFsim 4.0" style="height: 75px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
                        {% if hide_demo  %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'demo' %}">Demo</a></li>
                        {% endif %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'download' %}">Download</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        {% include  'partials/header.html' %}
        
        {% block content %}
            
        {% endblock %}
        
        {% include 'partials/footer.html' %}
        {% block scripts %}
            <scripts src="{% static 'js/jquery-3.7.1.min.js' %}"> </scripts>
        {% endblock %}
    </body>
</html>