{% load static %}
<footer class="py-4 bg-black fixed-bottom">
    <div class="container px-2 d-flex flex-column align-items-center">
        <div class="d-flex justify-content-between align-items-center w-100">
            <div id="footerLogo">
                <a href="https://www.uni-due.de/en/index.php" class="containsimage">
                    <img src="{% static 'images/white_logo_UDE.png' %}" alt="LIFsim 4.0" style="height: 75px">
                </a>
            </div>
            <div id="footerCopyright" class="text-light">
                <ul class="d-flex list-unstyled mb-0">
                    © UDE
                </ul>
            </div>
            <nav id="navigationFooter" class="navbar">
                <ul class="d-flex list-unstyled mb-0">
                    <li class="nav-item me-3">
                        <a class="nav-link text-light" href="https://www.uni-due.de/de/impressum.shtml">
                            <i class="fa-solid fa-house"></i> Imprint
                        </a>
                    </li>
                    <li class="nav-item me-3">
                        <a class="nav-link text-light" href="https://www.uni-due.de/en/privacy-policy.php">
                           <i class="fa-solid fa-user-shield"></i>Privacy policy
                        </a>
                    </li>
                    <li class="nav-item me-3">
                        <a class="nav-link text-light" href="https://www.uni-due.de/empi/rf/index_en.php">
                            <i class="fa-solid fa-flask"></i> EMPI-RF
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="https://www.uni-due.de/de/datenschutz.php">
                            <i class="fa-solid fa-lock"></i> Placeholder
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</footer>
