
<!DOCTYPE html>
<html lang="en">
	<meta charset="utf-8" />
		<div class="masthead">
				<div class="masthead__inner-wrap">
					<div class="masthead__menu">
						<nav id="site-nav" class="greedy-nav">
							<a class="site-title" href="http://liisim.com/">LIISim</a>
							<ul class="visible-links">

								<li class="masthead__menu-item"><a href="">About</a></li>
								<li class="masthead__menu-item"><a href="">Demo</a></li>
								<li class="masthead__menu-item"><a href="{% url 'home_list' %}">Home</a></li>
							</ul>
							<button count="0" class="hidden"><div class="navicon"></div></button>
							<ul class="hidden-links hidden"></ul>
						</nav>
					</div>
				</div>
		</div>

</html>